.slide:hover {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

$colors: (
  slide: #5FA054, 
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

button {  
  color: var(--color);
  transition: 0.25s;
  &:hover { 
    border-color: var(--hover);
    color: #000;
  }
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  padding: 0.8rem 1.8rem;
}

code { 
  color: #e4cb58;
  font: inherit;
}