.login-screen{
  height: auto;
  background-color: #E5E5E5;
  display: flex;
  align-items: center;
}

.login-container{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.form-div {
  /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); */
  background:rgba(255,255,255,0.5);
  border-radius: 10px;
}

.form{
  max-height: 100vH;
  margin:2rem;
}
